
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  font-family: Roboto, sans-serif;

  & > #app {
    height: 100vh;
    width: inherit;

    & .app__container {
      height: inherit;
    }
  }
}

#app {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.el-col {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}