$white: #fff;
$green: #0ec261;
$dark-green: #039f67;
$green-deep: #0c7b1b;
$green-ocean: #13493f;
$black: #121212;
$blue-dark: #151b1f;
$blue-darker: #111518;
$blue: #132949;
$blue-green: #0c7b67;
$gray: #999;
$gray-light: #eee;
$pink: #7b0c3b;
$brown: #493013;
$ultraviolet: #720c7b;
$deep-blue: #281349;
$light-green: #076432;
$green-darker: #013c27;
$green-grass: #0b934a;
$green-dark: #026e47;